{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"],
        "node": "current"
      }
    }],
    "stage-2"
  ],
  "plugins": [
    "add-module-exports",
    "transform-async-to-generator",
    ["transform-runtime",{
      "polyfill": false
    }]
  ]
}
