tmp/*
dist/*
node_modules/*
nimwebsdkTester/node_modules/*
nimwebsdkTester/web/js/*.js
nimwebsdkTester/web/js/nim
nimwebsdkTester/*.lock
*.log*
*.sublime-project
*.sublime-workspace
.DS_Store
.idea/*
.vscode/
.husky/
*.lock
ssh/
*.bk
*.bk.*
src/backup/*/test/
*.zip
.history
.gitconfig
yarn.lock
types
